*{
   margin: 0px;
   padding: 0px;
  
}

#banner{
    background-color: #e5547318;
    /* max-width: 1536px; */
    padding-top: 50px;
}

.banner-container{
    max-width: 1200px;
    margin: 0 auto;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 97px;
}

.banner-content h1{
    color:#272727;
    font-size: 5rem;
    font-weight: bolder;
    max-width: 708px;
    margin-bottom: 32px;
}

.banner-content p{
    color:#272727;
    font-size: 1.2rem;
    line-height: 30px;
    max-width: 634px;
    margin-bottom: 32px;
}

.banner-content button{
    background-color: #E55473;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 20px 43px;
    border: none;
    border-radius: 8px;
    
}

.banner-container button:hover{
    background-color: rgba(128, 128, 128, 0.322);
     transform:  scale(0.80)  ;
}

.banner-image img{
    max-width: 634px;
    width: 100%;
}

#feature{
    padding-top: 170px;
}

.feature-container{
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 100px;

}

.feature-content{
    text-align: center;
    max-width: 594px;
    margin: 0 auto;
}

.feature-content h2{
    font-size: 2.7rem;
    color: #272727;
    font-weight: bolder;
    margin-bottom: 24px;
}
.feature-content p{
    color: #2727279a;
    font-size: 1rem;
    line-height: 30px;
    margin-bottom: 48px;
}

.feature-image{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap:24px;

}
.image-card{
    /* max-width: 464px;
    border: 1px solid black;
   border-top-right-radius: 300px;
   border-top-left-radius: 300px; */
       max-width: 464px;
  /*  height: 538px;*/              /* fixed height দাও */
    display: flex;
    justify-content: center;    /* horizontally center */
    align-items: flex-end;      /* bottom এ বসাবে */
    border-top-right-radius: 300px;
    border-top-left-radius: 300px;
    overflow: hidden; 
   
   
}
.image-card:hover{
   
     transform:  scale(0.80)  ;
}

.image-card img{
   width: 100%;
    
   
    
    
}

.ping-6{
    background-color: #a7216245;
    
   /* border: 1px solid black; */
   /* border-top-right-radius: 300px;
   border-top-left-radius: 300px; */
}

.ping-5{
    background-color: #0598a052;
   
}

.ping-7{
    background-color: #477d1152;
}

.flower-name{
    margin-top: 16px;
    font-size: 1.1rem;
    font-weight: 600;
    color: #272727;
    text-decoration: underline;
    display: flex;
    justify-content: space-around;
}

.delivery-container{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #27272717;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    padding: 87px 10px;
    margin-bottom: 128px;
}

.delivery-card{
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* padding: 87px 10px; */
}

.d-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.d-card:hover{
    
     transform:  scale(0.80)  ;
}

#sale{
    background-color: #e5547317;
    padding: 100px 0px;
}

.sale-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sale-content{
    max-width: 594px;
    text-align: center;
}
.sale-content h2{
    color: #272727;
    font-size: 2.6rem;
    font-weight: bolder;
    margin-bottom: 24px;
}
.sale-content h2 .off{
    color:#E55473;
}
.sale-content p{
    color:#272727a8;
    font-size: 1.1rem;
    margin-bottom: 32px;
}

.sale-content button{
    background-color: #E55473;
    border: none;
    border-radius: 8px;
    padding: 23px 43px ;
    color: #FFFFFF;
    font-size: 1.3rem;
    font-weight: bold;
}
.sale-content button:hover{
     background-color: rgba(128, 128, 128, 0.322);
     transform:  scale(0.80)  ;
}

.sale-content img{
    max-width: 318px;
    width: 100%;
}

#insta{
    margin-top: 128px;
}
.insta-container{
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid red; */

}
.insta-content{
    text-align: center;
    max-width: 594px;
    margin:0 auto;
}

.insta-content h2{
    font-weight: bolder;
    color:#272727;
    font-size: 2.6rem;
    margin-bottom: 16px;

}

.insta-content p{
    font-size: 1.2rem;
    color:#2727276c;
    margin-bottom: 16px;
}

.insta-cards{
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:24px;
    margin-bottom: 128px;

    
}

.insta-cards img{
     width: 100%;
  height: auto;
}

.insta-cards img:hover{
     transform:  scale(0.80)  ;
}













@media screen and (max-width:576px){
    .banner-container{
        flex-direction: column;
        padding:40px;
        
       
        
    }
.delivery-card{
 flex-direction: column;
    gap: 50px;
    padding: 30px;
}
.sale-container{
    /* max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; */
    flex-direction: column;
    gap: 50px;
}
.insta-cards{
    /* display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:24px;
    padding:20px;

    
}

   
  
}

@media screen and (min-width:576px) and (max-width:992px){
     .banner-container{
        flex-direction: column;
        padding:40px;
        
       
        
    }
}
